*{
    font-style: normal arial 25px;
    color:black;
}
body{
    background-color: rgba(104, 99, 99, 0.52);
}
header{
   background-color: white;
    margin: 10px 450px 0px 450px;
    text-align: center;
    border-radius:   6px ;
    left: -300px;
    width: auto ;
    padding: auto;
    box-shadow: 2px 2px 8px rgba(78, 78, 143, 0.52);
}
div#Menu {

}
main#Principal {

}
article#Sobre1 {

}
article#Sobre2 {

}